<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css_style/style.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a class="create-order-button" href="/admin/stock">Назад</a>
</div>
<form action="#" th:action="@{/admin/creat-product}" th:object="${product}" method="post">
    <label for="name">Наименование</label>
    <input type="text" th:field="*{nameProduct}" id="name">
    <br>

    <label for="stockBalance">Остаток на складе</label>
    <input type="text" th:field="*{stockBalance}" id="stockBalance">
    <br>

    <label for="minimumStockBalance">Мин. доп. остаток</label>
    <input type="text" th:field="*{minimumStockBalance}" id="minimumStockBalance">
    <br>

    <label for="retailSalePrice">РРЦ</label>
    <input type="text" th:field="*{retailSalePrice}" id="retailSalePrice">
    <br>

    <label for="internetSalePrice">Интернет цена</label>
    <input type="text" th:field="*{internetSalePrice}" id="internetSalePrice">
    <br>

    <label for="wholesaleSalePrice">Оптовая цена</label>
    <input type="text" th:field="*{wholesaleSalePrice}" id="wholesaleSalePrice">
    <br>

    <label for="purchasePrice">Цена закупки</label>
    <input type="text" th:field="*{purchasePrice}" id="purchasePrice">
    <br>

    <label for="supplyingCompany">Поставщик</label>
    <select th:field="*{supplyingCompanyId}" id="supplyingCompany">
        <option th:each="supplier : ${supplyingCompany}" th:value="${supplier.id}" th:text="${supplier.nameSupplyingCompany}">Supplier</option>
    </select>
    <br>

    <label for="category">Категория</label>
    <select th:field="*{categoryId}" id="category">
        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.nameCategory}">Category</option>
    </select>
    <br>




    <input class="create-order-button" type="submit" value="Добавить продукт">
    <br>
</form>

</body>
</html>